/* @import "tailwindcss"; */

ul {
	padding-left: 2rem;
}

a {
	color: lightgrey;
}

.title {
	font-size: 2rem;
	font-weight: bold;
}

.toc {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

li.deptTitle {
	position: sticky;
	top: 0;
	font-size: 1.35rem;
	font-weight: bold;
	padding-top: 0.45rem;
	padding-bottom: 0.75rem;
	background: #242424;
}

h2.deptTitle {
	position: sticky;
	top: 0;
	font-size: 1.65rem;
	padding-left: 2rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	background: #242424;
}

/*.projTitle {
	font-size: 1.25rem;
	font-weight: bold;
}*/

h3.projTitle {
	position: sticky;
	top: 3.65rem;
	font-size: 1.25rem;
	padding-left: 1rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	background: #242424;
}

.projDesc {
	font-size: 1rem;
	font-weight: normal;
	padding-left: 3rem;
	padding-top: 0.25rem;
	margin-bottom: 1.25rem;
}

